<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DOTA2SS{% endblock %}</title>

    <style>
        main{width: 1000px; margin: 0 auto; }
    </style>

    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}
        Dota2SS
        {% endblock %}
    </header>

    <main>
        {% block content %}
        container
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            account setting / using instruction / contact us
        {% endblock %}
    <footer>
</body>
</html>